@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
* {
    background-color: #1e2122;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    justify-content: center;
    align-items: center;
}
html {
    color: #fff;
    font-family: 'Jetbrains Mono', monospace;
    padding: 20px;
}
body{
    text-align: center;
}
a {
    align-items: center;
    display: flex;
    color: inherit;
    text-decoration: none;
}
pre {
    font-family: 'Jetbrains Mono', monospace;
}
example {
    display: block;
}
.green , svg , a:hover{
    color: #e06c75;
}
.dropdown {
    transition: 500ms;
    position: relative;
    display: inline-block;
    margin: 2rem;
}

.dropdown-content {
    position: relative;
    display: inline-block;
    margin: 2rem;
    transition: 500ms;
    opacity: 0;
    position: absolute;
    left: -999em;
    transform: translateY(-100%);
    background-color: #1e2122;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content{
    transform: translateY(0);
    position: relative;
    height: auto;
    left: auto;
    opacity: 100%;
}
.dropdown:hover example{
    transform: translateX(-10%);
    transition: 500ms;
    float: left;
}
